<form id="create-form" enctype="multipart/form-data" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name-text" name="name">
    <h4>Ingredients</h4>
    <textarea id="ingredients-text" class="materialize-textarea"></textarea>
    <button id="add-ingredient" type="button" class="btn">Add ingredient</button>
    <br />
    <p id="as-ingredient"></p>
    <h4>Instructions</h4>
    <textarea id="instructions-text" class="materialize-textarea"></textarea>
    <button id="add-instruction" type="button" class="btn">Add instruction</button>
    <br />
    <p id="as-instruction"></p><br>
    <h4>Image</h4>
    <input id="image-input" type="file" name="images" accept="image/*" multiple><br><br>

    <button id="submit" type="submit" class="btn">Submit</button>
</form>
<section id="save-recipe-response" class="section"></section>
