<form method="POST" action="/recipe/" enctype="multipart/form-data" id="create-form" style="margin-bottom: 5rem;">
    <div class="row">
        <div class="input-field col s6">
            <input type="text" id="name-text" name="name">
            <label class="active" for="name">Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input type="text" id="ingredients-text" name="ingredient">
            <label class="active" for="ingredient">Ingredients</label>
            <button id="add-ingredient" type="button" class="btn">ADD</button>
            <p id="as-ingredient"></p>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input type="text" id="instructions-text" name="instruction">
            <label class="active" for="instruction">Instruction</label>
            <button id="add-instruction" type="button" class="btn">ADD</button>
            <p id="as-instruction"></p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="file-field input-field">
                <div class="btn" id="add-image">
                    <span>OPEN CAMERA</span>
                    <input id="image-input" type="file" name="images" accept="image/*" multiple name="images">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
                <!-- <p id="as-image"></p> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <fieldset style="margin-bottom: 2rem;">
                <legend>Categories</legend>
                <% categories.forEach(function(element) { %>
                    <label for="<%- element.name %>">
                        <input type="checkbox" id="<%- element.name %>" name="text" value="<%- element.name %>" />
                        <span><%- element.name %></span>
                    </label><br>
                    <% })%>
            </fieldset>
        </div>
    </div>
    <button id="submit" type="submit" class="btn">Submit</button>


</form>