<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="shortcut icon" href="#">
</head>

<body>
  <%- name %>
  <ul>

      <% ingredients.forEach(function(ingredient, indx) { %>
          <li>
              <%= ingredient %>
          </li>
          <% }) %>
  </ul>

  <ul>
      <% for (let i=0; i < instructions.length; i++) {%>
          <li>
              <%= instructions[i] %>
          </li>
          <% } %>
  </ul>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>