<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="shortcut icon" href="#">
</head>

<body>
  <%- name %>
    <ul>

      <% ingredients.forEach(function(ingredient, indx) { %>
        <li>
          <%= ingredient %>
        </li>
        <% }) %>
    </ul>

    <ul>
      <% for (let i=0; i < instructions.length; i++) {%>
        <li>
          <%= instructions[i] %>
        </li>
        <% } %>
    </ul>
    </div>
</body>

</html>